<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>CMSC335 Final Project</title>
</head>

<body>
	<h1>Welcome to your Pharmacy App</h1>

	<h2>What would you like to do today?</h2>
	<ul>
		<li>To buy new medicine select <a href="/search">Search</a></li>
		<li>To review your previous purchased medicines select <a href="/reviewPurchases">Review Purchases</a></li>
	</ul>
</body>

</html>
